*{
    margin: 0;
    padding: 0;
}
body{
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
    background-image: url('https://64.media.tumblr.com/2d0af9c90d1b1107313cc20bda01548a/tumblr_outwxnanpp1u79o2lo1_1280.gifv');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
	color: yellow;
	font-weight:700;
	margin-top:125px;	 
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
}
.process-wrapper{
	margin:auto;
	max-width:1080px;
}
#progress-bar-container{
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}
#progress-bar-container ul{
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}
#progress-bar-container li:before{
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
}
#progress-bar-container li.active:before, #progress-bar-container li:hover:before{
	border:solid 2px #fff;
	background-image: url("https://i.pinimg.com/originals/b1/9e/71/b19e712c01137a8a979faa8f4992571a.gif");
	background-size: cover;
}
#progress-bar-container li{
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color: white;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}
#progress-bar-container li .step-inner{
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}
#progress-bar-container li.active, #progress-bar-container li:hover{
	color: gold;
}
#progress-bar-container li:after{
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background: red;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
}
#progress-bar-container li:hover:after{
	background: gold;
}
#progress-bar-container li.active:after{
	background: orange;
}
#progress-bar-container #line{
	width:80%;
	margin:auto;
	background: black;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}
#progress-bar-container #line-progress{
	content:" ";
	width:3%;
	height:100%;	 
    background-image: url("https://i.pinimg.com/originals/e6/f8/0b/e6f80be8122d7019c37b39b02dd6ec2c.gif");
	background-size: cover;
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}
#progress-content-section{
	width:90%;
	margin: auto;
	background: gold;
	border-radius: 4px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;;
}
#progress-content-section .section-content{
	padding:30px 40px;
	text-align:center;
}
#progress-content-section .section-content h2{
	font-size:17px;
	text-transform:uppercase;
	color: black;
	letter-spacing:1px;
}
#progress-content-section .section-content p{
	font-size:16px;
	line-height:1.8em;
	color: black;
}
#progress-content-section .section-content{
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}
#progress-content-section .section-content.active{
	display:block;
}
img{
	height: 100px;
	width: 80px;
}
@keyframes FadeInUp{
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
